#notebook/data/cleaned_transactions.csv filter=lfs diff=lfs merge=lfs -text
#artifacts/model.pkl filter=lfs diff=lfs merge=lfs -text -binary
#artifacts/train.csv filter=lfs diff=lfs merge=lfs -text
#notebook/raw.csv filter=lfs diff=lfs merge=lfs -text

